
.ats-score-box{
    border : 2px solid black;
    height : 300px ;
    width : 500px;
    border-radius : 20px;
    margin-top : 590px;
    margin-left: 50px;
    display : inline-block;
    background-color: #d3d1e1;
}

.ats-score-box h1{

    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
}

.resume-box{
    height : 800px;
    width : 700px;
    border : 2px solid black;
    border-radius: 10px;
    display: inline-block;
    position : absolute;
    top: 90px;
    right: 60px;
}

.landing-text{
    position: absolute;
    top : 350px;
    left: 90px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
}